<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
      The Ridealong App is a Web Application made by Northland CAPS Members.
      Its purpose is to help members without cars, or viable rides to easily get rides from other members.
      It wears its inspiration from the popular Uber app on its sleeve.
    </p>
  </body>
</html>
