<!DOCTYPE html>
<html>
  <%= yield %>
  <body>

    <div cless="center jumbotron">
      <h1>Welcome to the Ridealong App</h1>

      <a href="users#index" class="btn btn-lg btn-primary">Sign up now!</a>
    </div>

    <img alt="Rails logo" src="/assets/images/rails.png" />
  </body>
</html>
