<!DOCTYPE html>
<html>
  <%= yield %>
  <body>

    <div cless="center jumbotron">
      <h1>Welcome to the Ridealong App</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

    <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
  </body>
</html>
