<style>
	@import url('/ridealongapp/app/assets/stylesheets/custom.css.scss');
</style>
<div class="center jumbotron">
  <h1>Welcome to the Ridealong App</h1>

  <a href="#" class="btn btn-lg btn-primary">Sign up now!</a>
</div>

<img alt="Rails logo" src="/ridealongapp/app/assets/rails.png" />

