<style>
	@import url('/ridealongapp/app/assets/stylesheets/custom.css.scss');
</style>
        render file: "/ridealongapp/public/application.html.erb"
        render plain: "Rendor Works!"
<div cless="center jumbotron">
  <h1> to the Ridealong App</h1>


  <a href="#" class="btn btn-lg btn-primary">Sign up now!</a>
</div>

<img alt="Rails logo" src="/ridealongapp/app/assets/rails.png" />

